FLASK_ENV=development
SECRET_KEY=replace-me
JWT_SECRET=replace-me
JWT_ALGORITHM=HS256
JWT_EXP_MINUTES=60

MONGO_URI=mongodb://mongodb:27017
MONGO_DB_NAME=ai_chat

REDIS_URL=redis://localhost:6379/0

SQLITE_BASE_PATH=/app/data
SQLITE_DB_NAME=chat_local

MODELS_DIR=/app/models
VLM_MODEL_NAME=nlpconnect/vit-gpt2-image-captioning

UPLOAD_FOLDER=/app/uploads
MAX_CONTENT_LENGTH=10485760
